.btn {
  padding: 1rem 2rem;
  cursor: pointer;
  border: none;
}
.start {
  font-size: 2rem;
  text-transform: uppercase;
  background-color: $color-orange;
  border-radius: 3px;
  color: $color-white;
  font-weight: 700;
}
