$color-orange: #ff5200;
$color-blue-dark: #110133;
$color-turquoise: #00918e;
$color-turquoise-dark: #00263b;
$color-turquoise-light: #67f1ef;
$color-yellow: #ffdc34;
$color-green-light: #4dd599;
$color-red: #ff0000;

$color-white: #ffffff;
$color-black: #000000;
