.quiz-section {
  background-color: #00263b;
  margin: 5rem;
  height: 100%;
  .info-bar {
    @include flexCenter;
    padding: 2rem;
    justify-content: space-between;
    box-shadow: 0 3px 6px rgba($color-black, 0.4);

    & > * {
      font-size: 3rem;
      font-weight: 700;
    }

    .life {
      color: red;
    }

    .timer {
      color: $color-green-light;
    }

    .score {
      color: $color-yellow;
    }
  }

  .quiz-content {
    width: 100%;
    @include flexCenter;
    flex-direction: column;
  }
}
