.content {
  .text {
    color: $color-orange;
    font-size: 9rem;
    text-transform: uppercase;
    font-weight: 700;
    word-spacing: 2rem;
  }
}

.warning {
  width: 100%;
  font-size: 2.4rem;
  height: 4rem;
  text-align: center;
  margin-top: 2rem;
  color: $color-orange;
}

.quiz-content {
  h2 {
    margin-top: 6rem;
    font-size: 4rem;
    color: $color-turquoise-light;
  }
}
