.content .text {
  color: #ff5200;
  font-size: 9rem;
  text-transform: uppercase;
  font-weight: 700;
  word-spacing: 2rem; }

.warning {
  width: 100%;
  font-size: 2.4rem;
  height: 4rem;
  text-align: center;
  margin-top: 2rem;
  color: #ff5200; }

.quiz-content h2 {
  margin-top: 6rem;
  font-size: 4rem;
  color: #67f1ef; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  font-size: 10px;
  height: 100%; }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #110133;
  font-family: "Lato", sans-serif;
  padding: 4rem; }

ul {
  list-style: none; }

.container {
  height: 100%; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.select {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#67f1ef), to(#00918e));
  background: linear-gradient(#67f1ef, #00918e);
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 2rem;
  cursor: pointer;
  overflow: visible;
  width: 20rem;
  -webkit-perspective: 400px;
          perspective: 400px;
  color: #110133;
  margin-right: 4rem; }
  .select .placeholder {
    font-weight: 700;
    width: 100%;
    text-align: center; }

.options {
  position: absolute;
  top: calc(100% + 1rem);
  right: 0;
  width: 100%;
  border-radius: 10px;
  background-color: #4dd599;
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #67f1ef; }

.active {
  -webkit-transform: rotateX(0);
          transform: rotateX(0); }

.option {
  font-size: 2rem;
  padding: 1rem 3rem;
  text-align: center;
  background-color: transparent; }
  .option:not(:last-child) {
    border-bottom: 1px solid #67f1ef; }
  .option:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  .option:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }
  .option:hover {
    background-color: #00918e;
    color: #ffffff; }

.btn {
  padding: 1rem 2rem;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  font-weight: 700; }

.start {
  font-size: 2rem;
  background-color: #ff5200;
  border-radius: 3px;
  color: #ffffff; }

.retry {
  position: relative;
  outline: none;
  background-color: #ffdc34;
  margin-top: 4rem;
  color: #110133;
  font-size: 2.5rem;
  border-radius: 3rem;
  -webkit-box-shadow: 0 3px 10px rgba(255, 220, 52, 0.7);
          box-shadow: 0 3px 10px rgba(255, 220, 52, 0.7); }
  .retry:active {
    -webkit-box-shadow: 0 3px 6px rgba(255, 220, 52, 0.7);
            box-shadow: 0 3px 6px rgba(255, 220, 52, 0.7);
    -webkit-transform: translateY(1px);
            transform: translateY(1px); }

.answers {
  margin-top: 2rem;
  max-width: 60rem;
  min-width: 30rem;
  border-radius: 5px; }
  .answers li {
    max-width: 60rem;
    padding: 1rem;
    font-size: 2rem;
    background-color: rgba(0, 145, 142, 0.2);
    margin-bottom: 1rem;
    -webkit-box-shadow: 0 3px 5px #110133;
            box-shadow: 0 3px 5px #110133;
    color: #67f1ef;
    border-radius: 3px;
    cursor: pointer; }
    .answers li:hover {
      background-color: rgba(0, 145, 142, 0.5); }

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .modal .content {
    text-align: center; }

.modal.active {
  top: 0; }

.quiz-section {
  background-color: #00263b;
  margin: 5rem;
  height: 100%; }
  .quiz-section .info-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4); }
    .quiz-section .info-bar > * {
      font-size: 3rem;
      font-weight: 700; }
    .quiz-section .info-bar .hearts {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .quiz-section .info-bar .hearts li {
        margin-right: 0.6rem;
        color: red; }
    .quiz-section .info-bar .timer {
      color: #4dd599; }
    .quiz-section .info-bar .score {
      color: #ffdc34; }
  .quiz-section .quiz-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

/*# sourceMappingURL=main.css.map */